.header {
    display: flex;            
    align-items: center;      
    justify-content: center;  
    padding: 20px 40px;     
    background-color: #07516e;  
  }
  
  .header-center {
    display: flex;
    align-items: center;
    color: #fff;         
  }
  
  .site-name {
    font-size: 2.5rem;     
    font-weight: bold;       
    margin: 0 10px;        
  }
  
  .header-icon {
  }
  